.lazyImageComp {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .finalImage,
  .previewImage {
    width: 100%;
    height: 100%;
    display: block;
  }
  .previewImage {
    filter: blur(10px);
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }
}
